@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overscroll-behavior: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.h-fullscreen {
  height: calc(100vh - 84px); /* Adjust the height as per your requirement */
}

.h-custom-height {
  height: 84px;
}